body{
    background-color: rgb(245,245,245) !import;
}

p{
    overflow-wrap: break-word;
    word-warp:break-word;
}

.container{
    max-width: 640px !import;
}

.hello-form{
    margin-bottom: 20px;
}

header{
    margin:50px 40px 0;
}

header h1{
    font-size: 60px;
    font-weight: blod;
}

.sub-title{
    font-size: 24px;
}

@media screen and (max-width: 600px){
    .sub-title{
        display: block;
    }
}

header a{
    text-decoration: none !import;
}

footer{
    margin:20px;
}